<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Evaluation: A/B Testing</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.debounce.min.js"></script>
    <script type="text/javascript" src="jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="jquery.hotkeys.js"></script>
    <script type="text/javascript" src="coverage_html.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(coverage.index_ready);
    </script>
</head>
<body class="indexfile"

<img id="keyboard_icon" src="keybd_closed.png" alt="Show keyboard shortcuts" />

<img id="keyboard_icon" src="keybd_closed.png" alt="Show keyboard shortcuts" />

        <form id="filter_container">
            <input id="filter" type="text" value="" placeholder="filter..." />
        </form>



<div id="header">
    <div class="content">

        <h1>A/B Testing Evaluation Report:
            
        </h1>
    </div>
</div>

<div id="index">
    <table class="index">
        <thead>
            
            <tr class="tablehead" title="Click to sort">
                <th class="name left headerSortDown shortkey_n">Page</th>
                <th class="shortkey_s">Clicks</th>
                <th class="shortkey_m">First-Time</th>
                <th class="shortkey_x">Conversion</th>
                
                <th class="right shortkey_c">Coverage</th>
            </tr>
        </thead>
        
        <tfoot>
            <tr class="total">
                <td class="name left">Total</td>
                <td>146</td>
                <td>68</td>
                <td>0</td>
                
                <td class="right" data-ratio="78 146">53%</td>
            </tr>
        </tfoot>
        <tbody>
            
            <tr class="file">
                <td class="name left"><a href="recommendationR.html">HomePage</a></td>
                <td>54</td>
                <td>21</td>
                <td>0</td>
                
                <td class="right" data-ratio="33 54">61%</td>
            </tr>
            
            <tr class="file">
                <td class="name left"><a href="graph1.html">Page_Graph1</a></td>
                <td>26</td>
                <td>26</td>
                <td>0</td>
                
                <td class="right" data-ratio="0 26">0%</td>
            </tr>
            
        </tbody>
    </table>

    
</div>


</body>
</html>
