{% extends "base.html" %}
{% block content %}
  
  <div class="container" style="text-align:left">
      <h2> Welcome! Game Fans <i><font color="green">{{user_id}}</font></i> </h2> 
  </div>  

  <div class="game" style="text-align:left">
  <h2> Try Next Games:</h2>
  </div> 
     
     <h2>
      <ul>
        {% for i in lst_recommended_games %}
        <img src={{i[2]}} class="inner">

        <li class="inner"> <font color="black">{{i[0]}} </font> 
       
        <br> <font color="black"> ${{i[1]}} </font>  

        <br>

        <button type="button" class="button12">Purchase</button>

        </li> 

        <br> <br>

        
        {% endfor %}
      </ul>
    </h2>

    </div>
      


{% endblock %}

